<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/KanjiApp.jpg">
    <title>Hiragana Table</title>
</head>
<style>
    html {
    background: url(../static/hiragana.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
<body>
    <form action="/">
        <input type="submit" value="Home page" />
    </form>
</body>
</html>