{% extends 'layout.html' %}
{% block infor %}
      <h1> </h1>
      <h2>Basic Information</h2>
      <h3>This web application will help you learn basics about hiragana, katakana and kanji!</h3>
    <h4>KanjiLearn provides its users with interactive learning games for japanese language!<br/>
    This app allows you to learn japanese syllabaries hiragana and katakana by going through<br/>
    interactive quizes. There is also an option of learning these two kanas simultaneously!<br/>
    This method is even more effective because it helps to associate the characters from one kana<br/>
    with the characters from the other one. <br/><br/>
    The main purpose of this app is to help with learning kanji - japanese hieroglyphs.<br/>
    KanjiLearn offers two ways of learning kanji: you can either learn them by manually searching<br/>
    for their meanings and other details, or you can add hieroglyphs to your 'to learn' list and <br/>
    play a learning mini-game based on this list. Kanji learning will be focused on kanji meaning,<br/>
    its structure and radicals.<br/><br>~©Made by Roman Blahuta~</h4>
    <form action="/">
        <input type="submit" value="Home page" />
      </form>
{% endblock infor %}
